[user]
	name = dzzxjl
	email = dzzxjl@gmail.com
[pull]
  rebase = true
[core]
	autocrlf = input
  editor = vim
	pager = delta
  excludesfile = ~/.config_backup/.gitignore
[diff]
	tool = meld
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	light = true
[init]
  defaultBranch = main
[merge]
	conflictStyle = zdiff3
[http]
	proxy = http://127.0.0.1:7897
[https]
	proxy = http://127.0.0.1:7897
